/* Estilos para la barra de navegación */
.navbar {
    background-color: #333; /* Fondo oscuro */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #1a75b6; /* Color del enlace cuando se pasa el ratón */
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-links ul {
      flex-direction: column;
    }
  
    .navbar-links li {
      margin: 10px 0;
    }
  }
  